# Directories section
__pycache__/
*build*/
cmake/*

# Specific files section
Session.vim
!cmake/arm-none-eabi.cmake
!cmake/mipsel-linux-gnu.cmake

# Generic files section
*.o
*.out
*.a

*.pyc
*.pdf

*.sw[op]
