# Directories section
__pycache__/
*build*/

# Specific files section
Session.vim
toolchains/uarm-local.cmake
toolchains/umps-local.cmake

# Generic files section
*.o
*.out
*.a

*.pyc
*.pdf

*.sw[op]
